body {
	font-family:Trebuchet MS;
}

div {
	text-align:center;
}

h1 {
	font-size:3em;
	margin:0 0 0 0;
}

p {
	padding:0;
	margin:0 0 30px 0;
}

#container {
	background-color:#f6f6f6;
	padding:30px;
	width:500px;
	margin:100px auto;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#total-progress
{
	position: relative;
	font-weight: bold;
	font-size: 1.1em;
	color: #555555;
	border:1px solid #cecece;
}

#total-progress #fill
{
	background-color: transparent;
	background-image: url("/images/progress-bar.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 0% 0%;
	width: 0%;
	height: 40px;
}

#total-progress #percent
{
	position: absolute;
	font-weight: bold;
	top: 10px;
	left: 50%;
	width: 180px;
	margin-left: -90px;
	text-align: center;
}

#tree {
	background:url(/images/tree.png) no-repeat;
	width:294px;
	height:408px;
	position:fixed;
	left:0;
	bottom:0;
}