<div id="container">
	<div>
		<h1>Xmas Quest</h1>
		<p>by Caleb Cohoon</p>
	</div>
	<div id="total-progress">
		<div id="fill" style="width:<%= percent_of_quest_complete %>;"></div>
		<div id="percent"><%= percent_of_quest_complete %></div>
	</div>
</div>
<div id="tree"></div>